
.about{
  background: rgb(45, 1, 146);

}


.logoContent {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 25px;
}


.navbarAbout {
  transform: rotate(180deg);
  list-style-type: none;
  margin: 78px 18px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right:  0;

}



.texteNavAbout:hover  {
  color: rgb(97, 97, 97)
}


.texteLogo{
  font-size: 45px;
  text-align: center;
  margin: 50px 125px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}


.texteNav{
  font-size: 20px;
  font: bolder;
  text-align: center;
  margin: 0px 26px;
  text-decoration: none;
  color:rgb(255, 255, 255);
  cursor: crosshair ;
  writing-mode: vertical-rl
}

.exit{
  font-size: 33px;
  font: bolder;
  text-align: center;
  text-decoration: none;
  color:rgb(255, 255, 255);
  cursor: cell;

}
.texteEmail{
  font-size: 50px;
  font: bolder;
  display: flex;
  justify-content: center;
  padding-top: 200px;
  text-decoration: none;
  color:rgb(255, 255, 255);
  text-align: justify;
}

.inputEmail{
  width: 100%;
}

.manifeste{
  display: flex;
  justify-content: space-between;
  font-size: 33px;
  font: bolder;
  text-align: center;
  text-decoration: none;
  color:rgb(255, 255, 255);
  margin-top: 165px;
}


.sideName{
  font-size: 40px;
  font: bolder;
  text-align: center;
  text-decoration: none;
  color:rgb(255, 255, 255);
  cursor: cell;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-left: 75px;
  margin-top: auto;
}

.petitTexteManifeste{
  font-size: 20px;
  text-align: left;
  padding: 0 30px;
  max-width: 400px;

}

.grosTexteManifeste{
max-width: 600px;
text-align: left;
margin-right: 82px;
padding: 0 10px;
}


.contact{
  display: flex;
  font-size: 44px;
  font: bolder;
  text-align: center;
  text-decoration: none;
  color:rgb(255, 255, 255);
  margin-top: 165px;
}

.texteContact{
  max-width: 300px;
  text-align: left;
  margin-left: 200px;
  padding: 0 10px;
  margin-top: 50px;
  z-index: 15;
  }



.texteNav:hover{
  color: rgb(233, 110, 53);
}

.exit:hover{
  color: rgb(233, 110, 53);
}
.texteLogo:hover{
  color: rgb(233, 110, 53);
}


.texteContactDerriere{
  position: absolute;
  margin-left: 325px;
  font-size: 98px;
  color: rgb(233, 110, 53);
}

.texteContactDerriere2{
  position: absolute;
  margin-left: 50vw;
  margin-top: 250px;
  font-size: 98px;
  color: rgb(233, 110, 53);
}

.texteContactDerriere3{
  position: absolute;
  margin-left: 200px;
  margin-top: 600px;
  font-size: 98px;
  color: rgb(233, 110, 53);
}


.texteLineUtile{
  max-width: 400px;
  text-align: left;

  padding: 0 90px ;
  
}


.texteLienUtileTitre{
    font-size: 40px;
}

.texteLienUtileBody{
  font-size: 20px;
}
.lienUtile{
  display: flex;
  font: bolder;
  text-align: center;
  text-decoration: none;
  color:rgb(255, 255, 255);
  margin-top: 165px;
}










/* 
//////////////////moving z-index when hover mouse /////////// */

.imgHoverIndex:hover {
  z-index: 100;
}

/* ///////////////// change z-index of specific project (hover2 = image2) /////////// */
.z-indexImg2{ z-index: 30;}
.z-indexImg3{ z-index: 10;}
.z-indexImg5{ z-index: 20;}


.cursorDefault{
  cursor: pointer;
}














@media (max-width: 640px) {
	* {
		box-sizing: border-box;
	}
	
	/* passer body (et tous les éléments de largeur fixe) en largeur automatique */

	body {
		width: auto;
		margin: 0;
		padding: 0;
	}
	
	/* gestion des mots longs */

	textarea,
	table,
	td,
	th,
	code,
	pre,
	samp {
		-webkit-hyphens: auto; /* césure propre */
		-moz-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word; /* passage à la ligne forcé */
	}
	
	code,
	pre,
	samp {
		white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
	}
	
	/* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

	.element1,
	.element2 {
		float: none;
		width: auto;
	}
	
	/* masquer les éléments superflus */

	.hide_mobile {
		display: none !important;
  }



  
}