.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgb(158, 37, 37,0.3);
    overflow-x: hidden;   
    z-index: 30000;
  }
  
  .overlay2 {
    margin-top: 3%;
    height: 90%;
    width: 75%;
    position: fixed;
    background-color: rgba(255, 255, 255);
    overflow-x: hidden;
    z-index: 30000;
    
  }

  .overlay3 {
width: 100vw
    
  }

  .a{
      margin-top: 90vh
  }
  
.flex{
  display: flex;
  justify-content: center
}

.img8{
width: 10vw;
position: fixed;
z-index: 10000000000;
}

