 
 
 /*///////////// FONT pour toute le document/////// */


body {
  font-family: Arial, Helvetica, sans-serif,sans-serif;
  height: 350vh
  }

  /* /////// Paralax speed vodoo magic///////// */

  .content {
position: relative;
  }
  .wrapper {
  display: -webkit-box;
  display: -moz-box;
  /* display: box; */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  }
  
  .box {
  -webkit-box-flex: none;
  -moz-box-flex: none;
  box-flex: none;
  -webkit-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  display: flex;
  justify-content: center;
  }

/* /////////////// navbar /////////////////////////////// */

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10000;
}



.texte{
  font-size: 55px;
  font: bolder;
  text-align: center;
  padding: 0px 26px;
  margin-bottom: 5vh;
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: cell;
  
}
.texteColor{
  font-size: 55px;
  font: bolder;
  text-align: center;
  padding: 0px 26px;
  margin-bottom: 5vh;
  text-decoration: none;
  cursor: crosshair;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;

}
/* /////////////// IMAGE /////////////////////////////// */


.image1{
  margin-top: 10vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.image1div{    height: 100vh;
  width: 100vw;
  width: red;
  background: white;

}
.image2{
  width: 50vw;
  margin-top: 10vh;
  margin-left: 20vw;
  position: absolute;
  
}
.image3{
  width: 88vw;
  margin-top: 265vh;
  margin-left: -20vw;
  position: absolute;

}

.image4{
  width: 20vw;
  margin-top:100vh;
  margin-left: -20vw;
  position: absolute;

}

.image5{
  width: 30vw;
  margin-left: -20vw;
  margin-top:130vh;
  position: absolute;
 
}

.image6{
  width: 60vw;
  margin-top:150vh;
  margin-left: 3vw;
  position: absolute;
}

.image7{
  width: 30vw;
  margin-top:350vh;
  margin-left:-30vw;
  position: absolute;

  
}

.image8{
  width: 20vw;
  margin-left: 30vw;
  margin-top:100vh;
  position: absolute;
}

.image9{
  width: 35vw;
  margin-top:160vh;
  margin-left: -4vw;
  position: absolute;

}



.image10{
  margin-top: 5vh;
  width: 30vw;
  position: absolute;

}




/* 
//////////////////moving z-index when hover mouse /////////// */

.imgHoverIndex:hover {
  z-index: 100;
}

/* ///////////////// change z-index of specific project (hover2 = image2) /////////// */
.z-indexImg2{ z-index: 30;}
.z-indexImg3{ z-index: 10;}
.z-indexImg5{ z-index: 20;}
.z-indexImg1{ z-index: 30000000;}


.cursorDefault{
  cursor: pointer;
}

.background{
 position: fixed;
 z-index: 1;
 pointer-events: none;
;
 
}
@media (max-width: 640px) {
	* {
		box-sizing: border-box;
	}
	
	/* passer body (et tous les éléments de largeur fixe) en largeur automatique */

	body {
		width: auto;
		margin: 0;
		padding: 0;
	}
	
	/* gestion des mots longs */

	textarea,
	table,
	td,
	th,
	code,
	pre,
	samp {
		-webkit-hyphens: auto; /* césure propre */
		-moz-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word; /* passage à la ligne forcé */
	}
	
	code,
	pre,
	samp {
		white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
	}
	
	/* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

	.element1,
	.element2 {
		float: none;
		width: auto;
	}
	
	/* masquer les éléments superflus */

	.hide_mobile {
		display: none !important;
  }
  


.texte {
    font-size: larger;
}

.texteColor {
  font-size: larger;
}
	
}


