 
 
 /*///////////// FONT pour toute le document/////// */
 @font-face {
  font-family: myFirstFont;
  src: url(Gotham-Bold.otf);
}

body {
  font-family: myFirstFont;

  }

  /* /////// Paralax speed vodoo magic///////// */

  .content {
position: relative;
  }
  .wrapper {
  display: -webkit-box;
  display: -moz-box;
  /* display: box; */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  }
  
  .box {
  -webkit-box-flex: none;
  -moz-box-flex: none;
  box-flex: none;
  -webkit-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  display: flex;
  justify-content: center;
  }

/* /////////////// navbar /////////////////////////////// */

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10000;
}


.logoContent {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  margin-top: 25px;
  z-index: 10000000000000000000000;
}
.texteLogoBlack{
  font-size: 45px;
  text-align: center;
  margin: 50px 125px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}


.texte{
  font-size: 55px;
  font: bolder;
  text-align: center;
  padding: 0px 26px;
  margin-bottom: 5vh;
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: cell;
  
}
.texteColor{
  font-size: 55px;
  font: bolder;
  text-align: center;
  padding: 0px 26px;
  margin-bottom: 5vh;
  text-decoration: none;
  cursor: crosshair;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;

}
/* /////////////// IMAGE /////////////////////////////// */


:root {
  --img1: 100px;
  --img2: 500px;
  --img3: 1000px;
  --img4: 1500px;
  --img5: 2000px;
  --img6: 2500px;
  --img7: 3000px;
  --img8: 3600px;
  --img9: 4000px;
  --img10: 4500px;

  --img1Mobile: 100px;
  --img2Mobile: 400px;
  --img3Mobile: 800px;
  --img4Mobile: 1000px;
  --img5Mobile: 1300px;
  --img6Mobile: 1600px;
  --img7Mobile: 1900px;
  --img8Mobile: 2300px;
  --img9Mobile: 2300px;
  --img10Mobile: 3000px;



}
.image{
  width: 100%;
}
.image1{
  width: 700px;
  margin-top: var(--img1) ;
  margin-left: -300px;

}

.image2{
  width: 500px;
  margin-top: var(--img2);
  margin-left: 350px;

  
}
.image3{
  width: 700px;
  margin-top: var(--img3);
 margin-left: 200px;


}

.image4{
  width: 900px;
  margin-top: var(--img4);
  margin-left: -200px;
 

}


.image5{
  width: 900px;
  margin-left: -200px;
  margin-top: var(--img5);

 
}

.image6{
  width: 600px;
  margin-top: var(--img6);
  margin-left: 3px;

}

.image7{
  width: 900px;
  margin-top: var(--img7);
  margin-left: -100px;


  
}

.image8{
  width: 900px;
  margin-left: 100px;
  margin-top: var(--img8);
  margin-bottom: 200px

}

.image9{
  width: 500px;
  margin-top: var(--img9);
  margin-left: -90px;
 
}



.image10{
  margin-top: var(--img10);
  width: 500px;
}


/* 
//////////////////moving z-index when hover mouse /////////// */

.imgHoverIndex:hover {
  z-index: 100;
}

/* ///////////////// change z-index of specific project (hover2 = image2) /////////// */
.z-indexImg2{ z-index: 30;}
.z-indexImg3{ z-index: 10;}
.z-indexImg5{ z-index: 20;}
.z-indexImg1{ z-index: 30000000;}


.cursorDefault{
  cursor: pointer;
}


@media (max-width: 1000px) {
	* {
		box-sizing: border-box;
	}
	
	/* passer body (et tous les éléments de largeur fixe) en largeur automatique */

	body {
		width: auto;
		margin: 0;
		padding: 0;
	}
	
	/* gestion des mots longs */

	textarea,
	table,
	td,
	th,
	code,
	pre,
	samp {
		-webkit-hyphens: auto; /* césure propre */
		-moz-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word; /* passage à la ligne forcé */
	}
	
	code,
	pre,
	samp {
		white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
	}
	
	/* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

	.element1,
	.element2 {
		float: none;
		width: auto;
	}
	
	/* masquer les éléments superflus */

	.hide_mobile {
		display: none !important;
  }
  


.texte {
    font-size: larger;
    padding: 0px 15px;
}

.texteColor {
  font-size: larger;
}
.image1{
  width: 250px;
  margin-top: var(--img1Mobile) ;
  margin-left: -10px;

}

.image2{
  width: 300px;
  margin-top: var(--img2Mobile);
  margin-left: 50px;

  
}
.image3{
  width: 200px;
  margin-top: var(--img3Mobile);
 margin-left: 20px;


}

.image4{
  width: 300px;
  margin-top: var(--img4Mobile);
  margin-left: -2px;
 

}


.image5{
  width: 300px;
  margin-left: 1px;
  margin-top: var(--img5Mobile);

 
}

.image6{
  width: 289px;
  margin-top: var(--img6Mobile);
  margin-left: 3px;

}

.image7{
  width: 200px;
  margin-top: var(--img7Mobile);
  margin-left: -10px;


  
}

.image8{
  width: 200px;
  margin-left: 10px;
  margin-top: var(--img8Mobile);
  margin-bottom: 200px

}

.image9{
  width: 200px;
  margin-top: var(--img9Mobile);
  margin-left: -9px;
 
}



.image10{
  margin-top: var(--img10Mobile);
  width: 200px;

}

	
}




/* ////////  Hover Project vodoo magic */

.container {
  position: absolute;
}



.overlayProject {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
}

.red{
   background: #e6084be7;
   margin-bottom: 3px;
}

.bleu{
  background: #4100dae7;
  margin-bottom: 3px;
}
.container:hover .overlayProject {
  opacity: 1;

}


.container:hover .image{
  mix-blend-mode: screen;
  -webkit-filter: grayscale(100%) contrast(200%);
  filter: grayscale(100%) contrast(200%) ;
  opacity: 0.75;

}

.textHover {
  color: rgb(250, 250, 250);
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.blockScroll{
  overflow: hidden;
}

.projectNotSelected{
opacity: 0.2;
  z-index: 1;
  filter: grayscale(100%) ;
  -webkit-filter: grayscale(100%) ; ;


}

.noPointer{
  pointer-events: none
}